mixin news-item(date, title, content, readmore)
  .news-item
    p.news-date= date
    h3.news-title= title
    .news-content= content
    p.read-more (#{readmore})
section.startscreen#start
  .flex.flex--center
    .col-full
      .start-logo
      
    .news-wrapper  
      
      a.toggle-news News
        
      .news-box
        
        {% assign posts = site.posts | where:'categories', 'news' %}
        {% assign lang_posts=posts | where:'language', page.language | sort: 'date' | reverse %}
        {% assign date-style=site.date-style | where:'language', page.language | first %}
        {% assign read-more=site.read-more | where:'language', page.language | first %}
        
    
          
        {% for post in lang_posts %}
        .news-item-box.news(onclick='showFullNews(this)')
          +news-item( "{{ post.date | date: date-style.format }}", "{{post.title}}", "{{post.excerpt}}", "{{read-more.phrase}}")
          
          .news-item-full.news-inner
                      
            .news-content-wrapper
              p.news-intro {{ post.date | date: date-style.format }}
              h1 {{post.title}}
              .news-content {{post.content}}
              
              
              .close-button 
                a x
        {% endfor %}
    
  
